@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$color1: rgb(89, 142, 146);
$color2: rgb(51, 91, 93);
$color3: rgb(168, 213, 210);
$color4: rgb(22, 36, 37);
$color5: rgb(255, 255, 255);

$fl: 100%;

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: $color1;
    width: $fl;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otd-pika {
    background-color: $color1;
    border-right: 1px solid rgba(0, 0, 0, 40%);
    width: 158px;
    height: $fl;
}

.circle {
    width: 104px;
    height: 102px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin: auto;
    position: relative;
    top: 15%;
    display: block;
}

.pika {
    width: 75px;
    cursor: pointer;

    margin: {
        left: 15px;
        top: 18px;
    }
}

.navbarText-tp {}

.navbarText {
    width: 567px;
}

.otd-game {
    background-color: $color1;
    border-left: 1px solid rgba(0, 0, 0, 40%);
    width: 158px;
    height: $fl;
}

.gamePad {
    width: 86px;
    cursor: pointer;

    margin: {
        left: 10px;
        top: 20px;
    }
}

main {
    width: $fl;
    height: $fl;
    background-color: $color2;
    display: grid;
    grid-template-columns: repeat(3, 775px);
}

.body {
    background-color: rgb(89, 142, 146);
    width: 340px;
    height: 172px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: {
        left: 16px;
        top: 15px;
    }

    margin-bottom: 15px;
}

.image-win {
    background-color: $color5;
    width: 138px;
    height: 130px;
    border-radius: 18px;
}

.name {
    margin-right: 50px;
}

footer {
    width: $fl;
    height: $fl;
    background-color: $color4;
    position: fixed;
    display: flex;
    justify-content: center;
}

.txt {
    font: {
        family: JetBrains Mono;
        size: 36px;
    }

    cursor: default;
    color: $color5;
    position: absolute;
    margin-top: 85px;

}

.txt1 {
    color: $color1;
    z-index: 2;
    transition: all 0.35s ease-in;
    top: 0px;
    left: 765px;
}

.txt2 {
    z-index: 999;
}

.txt3 {
    color: $color3;
    z-index: 2;
    transition: all 0.35s ease-in;
    top: 0;
    left: 765px;
}

.txt:hover~.txt3 {
    top: 35px;
    left: 780px;
}


.txt:hover~.txt1 {
    top: -38px;
    left: 755px;

}